<p><<<<<<<<<<<<<<<>>>>>>>>>>>>>>></p>

<%= link_to 'Invite A user to an Event', new_invitation_path, class: 'btn' %>

<p><<<<<<<<<<<<<<<>>>>>>>>>>>>>>></p>


<h4>All Invitations</h4>

<ul>
  <% @invitations.each do |iv| %>
    <li>
      <p>Invitation ID: <%=link_to iv.id, invitation_path(iv) %></p>
      <small>User ID: <%= iv.invitee_id %></small>
      <small>Event ID: <%= iv.attended_event_id %></small>
    </li>
  <% end %>
</ul>
